{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <img src="{% static 'main/img/name.jpg' %}" alt="Название">
        <p><h1>ОБ ИГРЕ</h1></p>
        <br>
        <hr>
        <h5 align="left" style="margin-left: 40px">Phasmophobia — это совместный психологический хоррор для 4 игроков, в котором вы и
            члены вашей команды исследователей паранормальных явлений отправитесь в места с привидениями, наполненные
            паранормальной активностью, и соберете как можно больше доказательств
            паранормальных явлений. Вы будете использовать свое снаряжение для
            охоты на привидений, чтобы искать и записывать доказательства того, что какой-либо
            призрак бродит в этом месте, чтобы продать его команде по удалению призраков.</h5>
        <br>
        <h5 align="left" style="margin-left: 40px">Вы можете поддержать свою команду,
            наблюдая за местоположением с помощью камер видеонаблюдения и датчиков движения
            из безопасности грузовика или зайти внутрь и запачкать руки призрачной деятельностью,
            которая со временем будет становиться все более враждебной.</h5>
        <br>
        <ul>
            <li align="left" style="margin-left: 40px"><strong>Иммерсивный опыт</strong>: Реалистичная графика
                и звуки, а также минимальный пользовательский интерфейс обеспечат полное погружение,
                которое будет держать вас в напряжении.</li>
            <li align="left" style="margin-left: 40px"><strong>Кроссплатформенность</strong>: Phasmophobia
                поддерживает всех игроков, независимо от того, есть ли у них
                виртуальная реальность или нет, поэтому вы можете наслаждаться
                игрой со своими друзьями в виртуальной и не виртуальной реальности.</li>
            <li align="left" style="margin-left: 40px"><strong>Совместная многопользовательская игра</strong>:
                играйте вместе с друзьями с участием до 4 игроков в этом кооперативном хорроре, где командная
                работа является ключом к вашему успеху.</li>
            <li align="left" style="margin-left: 40px"><strong>Уникальные призраки</strong>
                : более 10 различных типов призраков с уникальными характеристиками, что означает, что каждое расследование будет уникальным.</li>
            <li align="left" style="margin-left: 40px"><strong>Расследуйте</strong>: используйте хорошо известное оборудование
                для охоты на привидений, такое как считыватели электромагнитных полей,
                духовые ящики, термометры и камеры ночного видения, чтобы найти улики и собрать как можно больше паранормальных доказательств.</li>
            <li align="left" style="margin-left: 40px"><strong>Полное распознавание голоса</strong>: Призраки слушают! Используйте
                свой реальный голос, чтобы взаимодействовать с Призраками через доски
                для спиритических сеансов и сеансы EVP с помощью Spirit Box.</li>
        </ul>
        <h6 align="left" style="margin-left: 40px">Разработчик: Kinetic Games</h6>
    </div>
{% endblock %}