{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Оборудование{% endblock %}

{% block content %}
    <div class="features">
        <h1>СКРИНШОТЫ</h1>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr1.jpg' %}" width="1200" height="720" alt="1">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr2.jpg' %}" width="1200" height="720" alt="2">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr3.jpg' %}" width="1200" height="720" alt="3">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr4.jpg' %}" width="1200" height="720" alt="4">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr5.jpg' %}" width="1200" height="720" alt="5">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr6.jpg' %}" width="1200" height="720" alt="6">
        <br>
        <br>
        <hr>
        <br>
        <img src="{% static 'main/img/scr7.jpg' %}" width="1200" height="720" alt="7">
        <br>
        <br>
    </div>>
{% endblock %}